*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
    min-height: 100svh;
    font-family: 'Space Mono';
    font-weight: 300;
    font-size: 1.25rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    position: relative; 
    margin: 0; 
    padding: 0; 
    scroll-behavior: smooth;
    background-color: #111;
}

body.noscroll {
    overflow: hidden;
}

.example::-webkit-scrollbar {
    display: none;
}

/*======================WELCOME ELEMENT=================*/
.intro {
    display: flex; 
    flex-direction: column;
    justify-content: end;
    align-items: center;
    color: white; 
    font-size: 0.5em;
    padding: 0; 
    margin: 0;
    height: 100svh;
    animation: 1.5s intro-first-appear linear;
}
@keyframes intro-first-appear {
    0% {opacity: 0%; -webkit-filter: blur(1.5rem);} 
    100% {opacity: 100%; -webkit-filter: blur(0);}
}

#appear {
    animation: 0.5s intro-appear linear;
    opacity: 1;  
}
@keyframes intro-appear {
    0% {opacity: 0%;} 
    75% {opacity: 100%;}
}

#start {
    animation: 0.5s intro-fade linear; 
    opacity: 0; 
}
@keyframes intro-fade {
    0% {opacity: 100%;} 
    75% {opacity: 0%;}
}

.intro * {
    margin: 0; 
}

.reflective {
    font-family: 'Helvetica Neue', sans-serif;
    position: relative; 
    bottom: 40%;
    font-style: italic; 
    font-size: 10svh;
    letter-spacing: 1px;
    overflow: hidden;
    background: linear-gradient(90deg, #000, #fff, #000);
    background-repeat: no-repeat;
    background-size: 99%;
    animation: reflective 4s linear infinite;
    -webkit-background-clip: text;
    -webkit-text-fill-color: rgba(255, 255, 255, 0); 
    user-select: none;
}
@keyframes reflective {
    0% {
        background-position: -9000%;
    }
    100% {
        background-position: 9000%;
    }
}

.scroll-text { 
    display: block;
    position: relative;
    bottom: 30px; 
    left: 2px;
    font-family: 'Helvetica Neue', sans-serif;
    font-size: 0.8rem;
    letter-spacing: 0.6px;
}

.scroll-circle {
    content: url('./assets/arrow-down-thin.svg');
    position: relative;
    bottom: 20px;
    color: transparent;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    background: rgba(188, 237, 243, 0.889);
    animation: breathe 1.5s infinite;
}
@keyframes breathe {
    0% {
   box-shadow: 0 0 0 0px rgba(188, 237, 243, 0.3);
    }
    50% {
   box-shadow: 0 0 0 5px rgba(188, 237, 243, 0.3);
    }
    100% {
   box-shadow: 0 0 0 0px rgba(188, 237, 243, 0.3);
    }
}

/*===================HAPPY BIRTHDAY ELEMENT=================*/
.content {
    /*background: linear-gradient(45deg, #ded6d5, antiquewhite);*/
    height: 100svh;
    display: grid;
    grid-template-columns: 1;
    grid-template-rows: 45% 20% 35%;
    justify-items: center;
}
@keyframes appear {
    0% {
        opacity: 0%; scale: 0.7; 
    }
    100% {
        opacity: 100%; scale: 1; 
    }
}

.text_shadows {
    align-self: end;
    text-shadow: 3px 3px 0 #4a8dda, 6px 6px 0 #4cda5f,
        9px 9px #f07a6a, 12px 12px 0 #dd2727;
    /*font-family: 'vt323';*/
    font-weight: 400;
    text-transform: uppercase;
    font-size: calc(2rem + 5vw);
    text-align: center;
    margin: 0;
    padding: 0;
    color: #c246e7;
    background-clip: text;
    letter-spacing: 0.4rem;
    cursor: pointer;
    user-select: none;
    animation: shadows 1.2s ease-in infinite, move 1.2s ease-in infinite;
}
@keyframes shadows {
0% {
    text-shadow: none;
}
10% {
    text-shadow: 3px 3px 0 #4a8dda;
}
20% {
    text-shadow: 3px 3px 0 #4a8dda,
    6px 6px 0 #4cda5f;
}
30% {
    text-shadow: 3px 3px 0 #4a8dda,
    6px 6px 0 #4cda5f, 9px 9px #f07a6a;
}
40% {
    text-shadow: 3px 3px 0 #4a8dda,
    6px 6px 0 #4cda5f, 9px 9px #f07a6a,
    12px 12px 0 #dd2727;
}
50% {
    text-shadow: 3px 3px 0 #4a8dda,
    6px 6px 0 #4cda5f, 9px 9px #f07a6a,
    12px 12px 0 #dd2727;
}
60% {
    text-shadow: 3px 3px 0 #4a8dda,
    6px 6px 0 #4cda5f, 9px 9px #f07a6a,
    12px 12px 0 #dd2727;
}
70% {
    text-shadow: 3px 3px 0 #4a8dda,
    6px 6px 0 #4cda5f, 9px 9px #f07a6a;
}
80% {
    text-shadow: 3px 3px 0 #4a8dda,
    6px 6px 0 #4cda5f;
}
90% {
    text-shadow: 3px 3px 0 #4a8dda;
}
100% {
    text-shadow: none;
}
}
@keyframes move {
    0% {
    transform: translate(0px, 0px);
    }
    40% {
        transform: translate(-12px, -12px);
    }
    50% {
        transform: translate(-12px, -12px);
    }
    60% {
        transform: translate(-12px, -12px);
    }
    100% {
        transform: translate(0px, 0px);
    }
}

.my-msg {
    color: white; 
    width: 65%; 
    text-align: center;
    opacity: 0;
    align-self: center;
}
@keyframes msg-appear {
    from {opacity: 0; -webkit-filter: blur(1.5rem);}
    to {opacity: 1; -webkit-filter: blur(0);}
}
.my-msg-appear{
    opacity: 1;
}

.me-container{ 
    display: flex; 
    flex-direction: column;
    justify-content: start;
    align-items: center;
}

.photous {
    padding: 10px;
    height: 150px; 
    width: auto;  
    content: url(./assets/circlePhoto.jpg);
    border-radius: 50%;
    z-index: 5;
    cursor: pointer;
}

.from-edgar {
    color: #fff;
    /*font-family: 'Helvetica Neue', sans-serif;*/
    font-style: italic;
    font-weight: 100;
    font-size: small;
    animation: fade-in-photo linear;
    animation-timeline: scroll(); 
    animation-range-start: 0;
    animation-range-end: contain 50%; 
}
/*==========================BUFFER ELEMENT=======================*/
.buffer {
    height: 50svh;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}

.buffer>p {
    color: white; 
    text-align: center;
    font-size: calc(1rem + 5vw);
    animation: bounce2 1s ease infinite;
}
@keyframes bounce2 {
      0%, 20%, 50%, 80%, 100% {transform: translateY(0);}
      40% {transform: translateY(-30px);}
      60% {transform: translateY(-15px);}
}

/*======================IMAGE SCROLLER ELEMENT==================*/

.images {
    height: 100svh; 
    width: 100%; 
    margin: 0; 
    padding: 0; 
    box-sizing: border-box;
    display: flex; 
    flex-direction: column;
    justify-content: space-between;
}

.slider {
    height: 33.5svh;
    width: 100%;
    margin: 0; 
    padding: 0; 
    overflow: hidden;
}

.slider-track {
    flex-wrap: nowrap;
    display: flex;
    align-content: center;
    width: fit-content;
    animation: scroll 20s linear infinite;
    box-sizing: border-box;
    padding: 1rem; 
    gap: 1rem;
    animation: 
        scroll 
        var(--_animation-duration, 80s) 
        var(--_animation-direction, forwards)
        linear 
        infinite;
}
@keyframes scroll {
    to{transform: translate(calc(-50% - 0.5rem));}
}

.slider-track[data-direction="right"]{
    --_animation-direction: reverse;
}
.slider-track[data-speed="faster"]{
    --_animation-duration: 50s;
}

.slider-track img {
    height: 30svh;
    width: auto;
    object-fit: cover;
    border-radius: 10px;
    /*filter: grayscale(75%);*/
}

#slidermid {
    -webkit-mask: linear-gradient(90deg, white 75%, transparent);
}

#slidertop, #sliderbot {
    -webkit-mask: linear-gradient(90deg, transparent, white 25%);
}
/*======================LOVED-ONES ELEMENT==================*/

.loved-ones {
    height: 200px; 
    display: flex; 
    align-items: center;
}

.type-text {
    margin-left: 20px;
    border-right: solid 5px rgba(255,255,255,.75);
    white-space: nowrap;
    overflow: hidden;    
    font-size: 3lvw;
    color: #c246e7;
    animation: animated-text 2s steps(20, end) 1s 1 normal both,
    animated-cursor 600ms linear infinite;
}
@keyframes animated-text{
    from{width: 0;}
    to{width: 64lvw;}
}
@keyframes animated-cursor{
    from{border-right-color: rgba(255,255,255,.75);}
    to{border-right-color: transparent;}
}

/*=======================WISHES ELEMENT===================*/

.wishes {
    min-height: 100svh;
    width: 100%; 
    height: auto;
    display: flex; 
    flex-direction: column;
    justify-content: start;
    align-items: center;
}

.card {
    box-sizing: border-box;
    padding: 20px;
    height: max(auto, 400px);
    width: 80%; 
    border-radius: 20px;
    display: flex; 
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    margin-top: 50px; 
    margin-bottom: 50px; 
    transition: 0.5s ease-in-out;
    border: 3px solid #fff; 
    opacity: 0; 
    color: #fff; 
    background-color: rgba(0, 0, 0, 0);
}

.card:hover {
    box-shadow: 0px 0px 50px -10px #fff; 
}

.card-appear {
    opacity: 100%; 
    animation: 0.5s card-appear linear;
}
@keyframes card-appear {
    0% {opacity: 0%; scale: 0.8;}
    50% {opacity: 100%; scale: 1;}
    100% {opacity: 100%; scale: 1;}
}


.image-slider {
    overflow-x: scroll;
    display: flex; 
    width: 100%;
    border-radius: 10px;
    /*box-shadow: 0px 0px 10px 5px #999;*/
    margin-bottom: 20px;
    white-space: nowrap;
    max-width: max-content;
}

.note {
    font-size: 1lvw;
}

.from {
    align-self: end;
    width: fit-content;
    font-style: italic;
    font-weight: lighter;
}

/*===========================ENDING========================*/
.ending {
    color: white; 
    display: flex; 
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100lvh; 
    width: 100%; 
}

.ending>p {
    font-size: 5svw;
    text-align: center;
}

.ending>span {
    text-align: center;
    font-size: 2svw;
}

.ending a {
    cursor: pointer;
    color: #fff;
}

.ending a:visited {
    background-color:#fff;
    color:#fff;
    text-decoration: none;
}


/*===========================OTHERS========================*/

@media only screen and (max-width: 700px) {
    .type-text {
        font-size: 4lvw;
        animation: animated-text 2s steps(20, end) 1s 1 normal both,
        animated-cursor 600ms linear infinite;
    }
    @keyframes animated-text{
        from{width: 0;}
        to{width: 87lvw;}
    }

    .note {
        font-size: 3lvw;
    }

    .my-msg {
        font-size: 2svw;
    }
}