*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
    min-height: 100svh;
    font-family: 'Space Mono';
    font-weight: 300;
    font-size: 1.25rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    position: relative; 
    margin: 0; 
    padding: 0; 
    scroll-behavior: smooth;
    background-color: #000;
}

/*======================WELCOME ELEMENT=================*/
.intro {
    display: flex; 
    flex-direction: column;
    justify-content: end;
    align-items: center;
    color: white; 
    font-size: 0.5em;
    padding: 0; 
    margin: 0;
    height: 100svh;
    animation: intro-appear linear;
}
@keyframes intro-appear {
    0% {opacity: 0%;} 
    70% {opacity: 0%;}
    100% {opacity: 100%;}
}

#start {
    animation: 1s intro-fade linear; 
    opacity: 0; 
}
@keyframes intro-fade {
    0% {opacity: 100%;} 
    70% {opacity: 100%;}
    100% {opacity: 0%;}
}

.intro * {
    margin: 0; 
}

.reflective {
    font-family: 'Helvetica Neue', sans-serif;
    position: relative; 
    bottom: 40%;
    font-style: italic; 
    font-size: 10svh;
    letter-spacing: 1px;
    overflow: hidden;
    background: linear-gradient(90deg, #000, #fff, #000);
    background-repeat: no-repeat;
    background-size: 99%;
    animation: reflective 4s linear infinite;
    -webkit-background-clip: text;
    -webkit-text-fill-color: rgba(255, 255, 255, 0); 
    user-select: none;
}
@keyframes reflective {
    0% {
        background-position: -9000%;
    }
    100% {
        background-position: 9000%;
    }
}

.scroll-text { 
    display: block;
    position: relative;
    bottom: 30px; 
    left: 2px;
}

.scroll-circle {
    content: url('./assets/arrow-down-thin.svg');
    position: relative;
    bottom: 20px;
    color: transparent;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    background: rgba(188, 237, 243, 0.889);
    animation: breathe 1.5s infinite;
}
@keyframes breathe {
    0% {
   box-shadow: 0 0 0 0px rgba(188, 237, 243, 0.3);
    }
    50% {
   box-shadow: 0 0 0 5px rgba(188, 237, 243, 0.3);
    }
    100% {
   box-shadow: 0 0 0 0px rgba(188, 237, 243, 0.3);
    }
}

/*===================HAPPY BIRTHDAY ELEMENT=================*/
.content {
    /*background: linear-gradient(45deg, #ded6d5, antiquewhite);*/
    height: 100svh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
@keyframes appear {
    0% {
        opacity: 0%; scale: 0.7; 
    }
    40% {
        opacity: 0%; scale: 0.7; 
    }
    100% {
        opacity: 100%; scale: 1; 
    }
}

.text_shadows {
    text-shadow: 3px 3px 0 #4a8dda, 6px 6px 0 #4cda5f,
        9px 9px #f07a6a, 12px 12px 0 #dd2727;
    /*font-family: 'vt323';*/
    font-weight: 400;
    text-transform: uppercase;
    font-size: calc(2rem + 5vw);
    text-align: center;
    margin: 0;
    padding: 0;
    color: #c246e7;
    background-clip: text;
    letter-spacing: 0.4rem;
    cursor: pointer;
    user-select: none;
    animation: shadows 1.2s ease-in infinite, move 1.2s ease-in infinite;
}
@keyframes shadows {
0% {
    text-shadow: none;
}
10% {
    text-shadow: 3px 3px 0 #4a8dda;
}
20% {
    text-shadow: 3px 3px 0 #4a8dda,
    6px 6px 0 #4cda5f;
}
30% {
    text-shadow: 3px 3px 0 #4a8dda,
    6px 6px 0 #4cda5f, 9px 9px #f07a6a;
}
40% {
    text-shadow: 3px 3px 0 #4a8dda,
    6px 6px 0 #4cda5f, 9px 9px #f07a6a,
    12px 12px 0 #dd2727;
}
50% {
    text-shadow: 3px 3px 0 #4a8dda,
    6px 6px 0 #4cda5f, 9px 9px #f07a6a,
    12px 12px 0 #dd2727;
}
60% {
    text-shadow: 3px 3px 0 #4a8dda,
    6px 6px 0 #4cda5f, 9px 9px #f07a6a,
    12px 12px 0 #dd2727;
}
70% {
    text-shadow: 3px 3px 0 #4a8dda,
    6px 6px 0 #4cda5f, 9px 9px #f07a6a;
}
80% {
    text-shadow: 3px 3px 0 #4a8dda,
    6px 6px 0 #4cda5f;
}
90% {
    text-shadow: 3px 3px 0 #4a8dda;
}
100% {
    text-shadow: none;
}
}
@keyframes move {
    0% {
    transform: translate(0px, 0px);
    }
    40% {
        transform: translate(-12px, -12px);
    }
    50% {
        transform: translate(-12px, -12px);
    }
    60% {
        transform: translate(-12px, -12px);
    }
    100% {
        transform: translate(0px, 0px);
    }
}

.photous {
    height: 150px; 
    width: auto;  
    margin-top: 100px;
    content: url(./assets/circlePhoto.jpg);
    border-radius: 50%;
    z-index: 5;
    cursor: pointer;
}

.from-edgar {
    color: #fff;
    /*font-family: 'Helvetica Neue', sans-serif;*/
    font-style: italic;
    font-weight: 100;
    font-size: small;
    animation: fade-in-photo linear;
    animation-timeline: scroll(); 
    animation-range-start: 0;
    animation-range-end: contain 50%; 
}

/*======================LOVED-ONES ELEMENT==================*/

.loved-ones {
    height: 200px; 
    display: flex; 
    align-items: center;
}

.type-text {
    margin-left: 20px;
    border-right: solid 5px rgba(255,255,255,.75);
    white-space: nowrap;
    overflow: hidden;    
    font-size: 4lvw;
    color: #c246e7;
    animation: animated-text 2s steps(20, end) 1s 1 normal both,
    animated-cursor 600ms linear infinite;
}
@keyframes animated-text{
    from{width: 0;}
    to{width: 78lvw;}
}
@keyframes animated-cursor{
    from{border-right-color: rgba(255,255,255,.75);}
    to{border-right-color: transparent;}
}

/*=======================WISHES ELEMENT===================*/

.wishes {
    min-height: 100svh;
    width: 100%; 
    height: auto;
    display: flex; 
    flex-direction: column;
    justify-content: start;
    align-items: center;
}

.card {
    box-sizing: border-box;
    box-shadow: 5px 5px 30px -10px antiquewhite;
    padding: 20px;
    height: min(auto, 400px);
    width: 80%; 
    border-radius: 20px;
    display: flex; 
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    margin-top: 50px; 
    margin-bottom: 50px; 
    opacity: 0%; 
    transition: 1s ease-in-out;
}

.card-appear {
    animation: 1s card-appear linear; 
    opacity: inherit; 
    background: linear-gradient(225deg, #999, antiquewhite);
    border: 0.5px solid #999; 
}

@keyframes card-appear {
    0% {opacity: 0%; scale: 0;}
    25% {opacity: 0%; scale: 0;}
    100% {opacity: 100%; scale: 1;}
}


.image-slider {
    overflow-x: scroll;
    display: flex; 
    width: 100%;
    border-radius: 10px;
    box-shadow: 0px 0px 10px 5px #999;
    margin-bottom: 20px;
    white-space: nowrap;
    max-width: max-content;
}

.note {
    font-size: 3lvw;
}

.from {
    align-self: end;
    width: fit-content;
    font-style: italic;
    font-weight: lighter;
}

/*===========================ENDING========================*/
.ending {
    color: white; 
    display: flex; 
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100lvh; 
    width: 100lvw;
}

.ending>p {
    font-size: 5lvw;
    text-align: center;
}

.ending>span {
    text-align: center;
    font-size: 2lvw;
}

.ending a {
    cursor: pointer;
}

.ending a:visited {
    background-color:#fff;
    color:#fff;
    text-decoration: none;
}


/*===========================OTHERS========================*/

@media only screen and (max-width: 600px) {
    .type-text {
        font-size: 4lvw;
        animation: animated-text 2s steps(20, end) 1s 1 normal both,
        animated-cursor 600ms linear infinite;
    }

    @keyframes animated-text{
        from{width: 0;}
        to{width: 80lvw;}
    }
}